
.product{
    margin-top: 70px;
    padding:0 1rem 0 1rem;

    .product-parts{
        margin-top: 40px;

        .part{
            width:32%;
            border:1px solid rgba(0,0,0,0.3);
            box-shadow: 0 6px 15px rgba(0,0,0,0.2);
            overflow: hidden;
            cursor: pointer;

            .image-part{
                position: relative;
                overflow: hidden;

                img{
                   width:100%;
                   transition: .5s linear;
                   transform-origin: right;
                }
                
                .percent{
                   position: absolute;
                   top:20px;
                   left:20px;
                   background-color: rgba(0,255,0,0.1);
                   color: $green;
                   font-size: 2rem;
                   padding:0.5rem;
                }

                .right-icons{
                   position: absolute;
                   top:20px;
                   right:-70px;
                   display: flex;
                   flex-direction: column;
                   cursor: pointer;
                   overflow: hidden;
                   transition: .5s linear;

                    .icon{
                        margin-top: 30px;
                        font-size: 1.6rem;
                        border:1px solid rgba(0,0,0,0.3);
                        box-shadow: 0 6px 15px rgba(0,0,0,0.1);
                        padding: 0.5rem;
                        color: #333;
                    }

                    .icon:hover{
                        background: $green;
                        color: #fff;
                    }

                }

            }

            .content-part{
                padding-bottom: 40px;
                background-color: #fff;
                border-top :1px solid rgba(0,0,0,0.3);
                text-align: center;

                h2{
                  font-size: 2rem;
                  padding: 17px 0 10px 0;
                  color: #333;
                }

                .stars{
                    color: gold;
                    font-size: 1.8rem;
                }

                .quantity{
                    padding:10px 0;

                    span{
                       font-size: 1.5rem;
                       padding-right: 0.5rem;
                    }

                    input{
                       background-color: rgba(0,0,0,0.1);
                       padding:8px;
                       text-align: center;
                       font-size: 1.4rem;
                    }
                }

                h4{
                  margin-bottom: 30px;
                  color: $green;
                  font-weight: 700;
                  font-size: 1.5rem;
                }

                .not{
                   text-decoration: line-through;
                   color: #999;
                   font-size: 1.2rem;
                   padding-left: 0.3rem;
                }

                .product-btn{
                    padding:0.8rem 5rem; 
                }
            }
        }

        .part:hover .right-icons{
            right: 17px;
        }

        .part:hover img{
            transform: scale(1.1);
        }

        .bottom-part{
            margin-top: 40px;
        }
    }
}
